# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Node
node_modules/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploaded resumes
uploads/